APP_NAME=Bazaar
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://bazaar.hatchers.ai

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=your_namecheap_db_name
DB_USERNAME=your_namecheap_db_user
DB_PASSWORD=your_namecheap_db_password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=your_smtp_host
MAIL_PORT=587
MAIL_USERNAME=your_smtp_username
MAIL_PASSWORD=your_smtp_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@hatchers.ai
MAIL_FROM_NAME="${APP_NAME}"

WEBSITE_HOST=bazaar.hatchers.ai
ASSETPATHURL=storage/app/public/
Environment=live
STORE_SUBDOMAIN_ROUTING=true
